In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import seaborn as sns
from sklearn.dummy import DummyClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn import feature_selection
from sklearn.metrics import confusion_matrix, f1_score, precision_score, recall_score, accuracy_score, roc_auc_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import GridSearchCV

In [2]:
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_excel('Merged_table_from_2005.xlsx')
df.drop(['Unnamed: 0'],axis = 1, inplace = True)
df

,Year,Country,Date,Competition,Home_team,Away_team,Result,1x2,number_of_games_last_days_home_team,number_of_games_last_days_away_team,...,Home_team_OVR,Home_team_Rival_team,Home_team_Budget_Mill_€,Away_team_ATT,Away_team_MID,Away_team_DEF,Away_team_OVR,Away_team_Rival_team,Away_team_Budget_Mill_€,Rivals
0,2005,Portugal,22 May 05,National League,Boavista,Benfica,1 - 1,x,2,2,...,58,Vitória SC,0.375,80,74,74,75,Sporting Lisbon,5.0,0
1,2005,Portugal,07 May 05,National League,Penafiel,Benfica,1 - 0,1,3,4,...,61,FC Porto,0.100,80,74,74,75,Sporting Lisbon,5.0,0
2,2005,Portugal,24 Apr 05,National League,Estoril,Benfica,1 - 2,2,3,4,...,59,Vitória Futebol Clube,2.000,80,74,74,75,Sporting Lisbon,5.0,0
3,2005,Portugal,10 Apr 05,National League,Rio Ave,Benfica,1 - 0,1,2,1,...,52,Benfica,2.900,80,74,74,75,Sporting Lisbon,5.0,1
4,2005,Portugal,19 Mar 05,National League,Vitória Setúbal,Benfica,0 - 2,2,4,4,...,61,Belenenses,0.350,80,74,74,75,Sporting Lisbon,5.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36457,2022,France,29 Aug 21,National League,Troyes,Monaco,1 - 2,2,2,5,...,72,Stade de Reims,6.000,81,77,77,78,OGC Nice,26.0,0
36458,2022,France,13 Aug 21,National League,Lorient,Monaco,1 - 0,1,1,3,...,72,Stade Rennais,7.000,81,77,77,78,OGC Nice,26.0,0
36459,2022,France,01 Dec 21,National League,Angers SCO,Monaco,1 - 3,2,2,3,...,74,En Avant Guingamp,6.500,81,77,77,78,OGC Nice,26.0,0
36460,2022,France,26 Sep 21,National League,Clermont,Monaco,1 - 3,2,3,4,...,71,AS Saint-Étienne,4.500,81,77,77,78,OGC Nice,26.0,0
36461,2022,France,19 Sep 21,National League,Nice,Monaco,2 - 2,x,1,3,...,76,AS Monaco,14.500,81,77,77,78,OGC Nice,26.0,0

In [4]:
list(df.columns)

['Year',
 'Country',
 'Date',
 'Competition',
 'Home_team',
 'Away_team',
 'Result',
 '1x2',
 'number_of_games_last_days_home_team',
 'number_of_games_last_days_away_team',
 'Home_team_ATT',
 'Home_team_MID',
 'Home_team_DEF',
 'Home_team_OVR',
 'Home_team_Rival_team',
 'Home_team_Budget_Mill_€',
 'Away_team_ATT',
 'Away_team_MID',
 'Away_team_DEF',
 'Away_team_OVR',
 'Away_team_Rival_team',
 'Away_team_Budget_Mill_€',
 'Rivals']

In [5]:
df = df.drop(['Date','Competition','Result','Home_team_Rival_team',
             'Away_team_Rival_team'], axis=1)

df

,Year,Country,Home_team,Away_team,1x2,number_of_games_last_days_home_team,number_of_games_last_days_away_team,Home_team_ATT,Home_team_MID,Home_team_DEF,Home_team_OVR,Home_team_Budget_Mill_€,Away_team_ATT,Away_team_MID,Away_team_DEF,Away_team_OVR,Away_team_Budget_Mill_€,Rivals
0,2005,Portugal,Boavista,Benfica,x,2,2,59,64,53,58,0.375,80,74,74,75,5.0,0
1,2005,Portugal,Penafiel,Benfica,1,3,4,64,67,55,61,0.100,80,74,74,75,5.0,0
2,2005,Portugal,Estoril,Benfica,2,3,4,60,60,52,59,2.000,80,74,74,75,5.0,0
3,2005,Portugal,Rio Ave,Benfica,1,2,1,55,54,48,52,2.900,80,74,74,75,5.0,1
4,2005,Portugal,Vitória Setúbal,Benfica,2,4,4,72,60,56,61,0.350,80,74,74,75,5.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36457,2022,France,Troyes,Monaco,2,2,5,73,72,70,72,6.000,81,77,77,78,26.0,0
36458,2022,France,Lorient,Monaco,1,1,3,72,72,71,72,7.000,81,77,77,78,26.0,0
36459,2022,France,Angers SCO,Monaco,2,2,3,72,73,75,74,6.500,81,77,77,78,26.0,0
36460,2022,France,Clermont,Monaco,2,3,4,72,70,72,71,4.500,81,77,77,78,26.0,0
36461,2022,France,Nice,Monaco,x,1,3,80,76,75,76,14.500,81,77,77,78,26.0,0

In [6]:
X = df.drop(['1x2'], axis=1)
y = df['1x2']

In [7]:
X.dtypes

Year                                     int64
Country                                 object
Home_team                               object
Away_team                               object
number_of_games_last_days_home_team      int64
number_of_games_last_days_away_team      int64
Home_team_ATT                            int64
Home_team_MID                            int64
Home_team_DEF                            int64
Home_team_OVR                            int64
Home_team_Budget_Mill_€                float64
Away_team_ATT                            int64
Away_team_MID                            int64
Away_team_DEF                            int64
Away_team_OVR                            int64
Away_team_Budget_Mill_€                float64
Rivals                                   int64
dtype: object

In [8]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, random_state=54)

In [9]:
X_train_numeric_columns = X_train.select_dtypes(include=['int64', 'float64'])
X_test_numeric_columns = X_test.select_dtypes(include=['int64', 'float64'])
X_train_categorical_columns = X_train.select_dtypes(include=['object'])
X_test_categorical_columns = X_test.select_dtypes(include=['object'])

In [10]:
X_train.dtypes

Year                                     int64
Country                                 object
Home_team                               object
Away_team                               object
number_of_games_last_days_home_team      int64
number_of_games_last_days_away_team      int64
Home_team_ATT                            int64
Home_team_MID                            int64
Home_team_DEF                            int64
Home_team_OVR                            int64
Home_team_Budget_Mill_€                float64
Away_team_ATT                            int64
Away_team_MID                            int64
Away_team_DEF                            int64
Away_team_OVR                            int64
Away_team_Budget_Mill_€                float64
Rivals                                   int64
dtype: object

In [11]:
X_train_numeric_columns.dtypes

Year                                     int64
number_of_games_last_days_home_team      int64
number_of_games_last_days_away_team      int64
Home_team_ATT                            int64
Home_team_MID                            int64
Home_team_DEF                            int64
Home_team_OVR                            int64
Home_team_Budget_Mill_€                float64
Away_team_ATT                            int64
Away_team_MID                            int64
Away_team_DEF                            int64
Away_team_OVR                            int64
Away_team_Budget_Mill_€                float64
Rivals                                   int64
dtype: object

In [12]:
X_train_categorical_columns.dtypes

Country      object
Home_team    object
Away_team    object
dtype: object

In [13]:
# Contribution of each column to improve f1_score using the
# the method RFE (recursive feature elimination), just for
# numeric columns

lr = LogisticRegression()

rfe = feature_selection.RFE(estimator=lr,
                            n_features_to_select=1,
                            step=1)

rfe.fit(X_train_numeric_columns, y_train)

y_pred = rfe.predict(X_test_numeric_columns)

rfe_initial_ranking = list(rfe.ranking_)

print(list(rfe.ranking_))

print('Columns ordered by importance of contribution to F1_score')

for i in range(1,X_train_numeric_columns.shape[1]+1):
    rfe = feature_selection.RFE(estimator=lr,
                            n_features_to_select=i,
                            step=1)

    rfe.fit(X_train_numeric_columns, y_train)

    y_pred = rfe.predict(X_test_numeric_columns)
    
    print(f'{i}:', list(X.columns)[rfe_initial_ranking.index(i)],
          '{:.5f}'.format(f1_score(y_test, y_pred, average='weighted')))

[12, 3, 13, 8, 7, 6, 1, 11, 9, 5, 4, 2, 10, 14]
Columns ordered by importance of contribution to F1_score
1: Home_team_ATT 0.34797
2: Away_team_ATT 0.43315
3: Country 0.43766
4: Home_team_Budget_Mill_€ 0.43829
5: Home_team_OVR 0.43333
6: number_of_games_last_days_away_team 0.43431
7: number_of_games_last_days_home_team 0.43461
8: Away_team 0.43512
9: Home_team_DEF 0.43520
10: Away_team_MID 0.43663
11: Home_team_MID 0.43546
12: Year 0.43706
13: Home_team 0.44018
14: Away_team_DEF 0.44036

In [14]:
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

In [15]:
numeric_columns = X.select_dtypes(include=['int64', 'float64']).columns

categorical_columns = X.select_dtypes(include=['object']).columns

In [16]:
numeric_columns

Index(['Year', 'number_of_games_last_days_home_team',
       'number_of_games_last_days_away_team', 'Home_team_ATT', 'Home_team_MID',
       'Home_team_DEF', 'Home_team_OVR', 'Home_team_Budget_Mill_€',
       'Away_team_ATT', 'Away_team_MID', 'Away_team_DEF', 'Away_team_OVR',
       'Away_team_Budget_Mill_€', 'Rivals'],
      dtype='object')

In [17]:
categorical_columns

Index(['Country', 'Home_team', 'Away_team'], dtype='object')

In [18]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_columns),
        ('cat', categorical_transformer, categorical_columns)])

In [19]:
rf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('model', RandomForestClassifier())])

In [20]:
rf

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  Index(['Year', 'number_of_games_last_days_home_team',
       'number_of_games_last_days_away_team', 'Home_team_ATT', 'Home_team_MID',
       'Home_team_DEF', 'Home_team_OVR', 'Home_team_Budget_Mill_€',
       'Away_team_ATT', 'Away_team_MID', 'Away_team_DEF', 'Away_team_OVR',
       'Away_team_Budget_Mill_€', 'Rivals'],
      dtype='object')),
                                                 ('cat',
                                                  Pipeline(steps=[('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  Index(['Country', 'Home_team', 'Away_team'], dtype='object'))])),
                ('model', RandomForestClassifier())])

In [21]:
%%time
rf.fit(X_train, y_train)

CPU times: user 36.7 s, sys: 359 ms, total: 37 s
Wall time: 38 s

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  Index(['Year', 'number_of_games_last_days_home_team',
       'number_of_games_last_days_away_team', 'Home_team_ATT', 'Home_team_MID',
       'Home_team_DEF', 'Home_team_OVR', 'Home_team_Budget_Mill_€',
       'Away_team_ATT', 'Away_team_MID', 'Away_team_DEF', 'Away_team_OVR',
       'Away_team_Budget_Mill_€', 'Rivals'],
      dtype='object')),
                                                 ('cat',
                                                  Pipeline(steps=[('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  Index(['Country', 'Home_team', 'Away_team'], dtype='object'))])),
                ('model', RandomForestClassifier())])

In [22]:
y_pred = rf.predict(X_test)

In [23]:
print(accuracy_score(y_test, y_pred))
print(f1_score(y_test, y_pred, average='weighted'))
print(precision_score(y_test, y_pred, average='weighted'))
print(recall_score(y_test, y_pred, average='weighted'))

0.499341816586222
0.465213729983307
0.4607272185601948
0.499341816586222

In [36]:
%%time

numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_columns),
        ('cat', categorical_transformer, categorical_columns)])



dumb = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', DummyClassifier(strategy='most_frequent'))])

kn = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', KNeighborsClassifier())])

svm = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', svm.SVC())])

dt = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', DecisionTreeClassifier(random_state=0))])

gnb = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', GaussianNB())])

lr = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', LogisticRegression())])

rfc = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', RandomForestClassifier())])

models = [dumb,kn,svm,dt,lr,rfc]
# models = [dumb,kn,dt,gnb,lr,rfc]

# models_readable_list = ['dumb','kn','dt','gnb','lr','rfc']
models_readable_list = ['dumb','kn','svm','dt','lr','rfc']

metrics = ['Accuracy','Weighted F1',
                'Weighted precision','Weighted recall'
]

d = {}

for metric in metrics:
    d[metric] = []

for model in models:
    
    if model == gnb:
        X_train.todense()
    else:
        
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)


        #cm = confusion_matrix(y_test, y_pred)
        #cm_df = pd.DataFrame(cm,
        #                     index = ['True_1','True_x','True_2'], 
        #                     columns = ['Predicted_1','Predicted_x','Predicted_2'])


        d['Accuracy'].append("{:.2f}".format(
            accuracy_score(y_test, y_pred)))

        d['Weighted F1'].append("{:.2f}".format(
            f1_score(y_test, y_pred, average='weighted')))

        d['Weighted precision'].append("{:.2f}".format(
            precision_score(y_test, y_pred, average='weighted')))

        d['Weighted recall'].append("{:.2f}".format(
            recall_score(y_test, y_pred, average='weighted')))



pd.DataFrame(d, index = models_readable_list)

CPU times: user 2min 25s, sys: 3.68 s, total: 2min 29s
Wall time: 2min 29s

     Accuracy Weighted F1 Weighted precision Weighted recall
dumb     0.46        0.28               0.21            0.46
kn       0.47        0.44               0.43            0.47
svm      0.52        0.44               0.45            0.52
dt       0.41        0.41               0.41            0.41
lr       0.51        0.46               0.46            0.51
rfc      0.50        0.46               0.46            0.50

In [39]:
%%time

from sklearn.model_selection import GridSearchCV

model = dt

param_grid = {
    'model__max_depth': [5,10,15,20,25],
    'model__min_samples_leaf': [50,60,70,80]
}

CV = GridSearchCV(
    model,
    param_grid,
    scoring='f1_weighted',
    n_jobs= -1,
    cv=5
)
                  
CV.fit(X_train, y_train)  
print(CV.best_params_)    
print(CV.best_score_)

{'model__max_depth': 15, 'model__min_samples_leaf': 50}
0.46254085973982234
CPU times: user 2.17 s, sys: 329 ms, total: 2.5 s
Wall time: 26 s

In [40]:
%%time

model = dt

param_grid = {
    'model__max_depth': range(10,20),
    'model__min_samples_leaf': range(40,60)
}

CV = GridSearchCV(
    model,
    param_grid,
    scoring='f1_weighted',
    n_jobs= -1,
    cv=5
)
                  
CV.fit(X_train, y_train)  
print(CV.best_params_)    
print(CV.best_score_)

{'model__max_depth': 13, 'model__min_samples_leaf': 40}
0.4633820439809261
CPU times: user 12.4 s, sys: 2.26 s, total: 14.7 s
Wall time: 4min 48s

In [41]:
%%time

model = rfc

param_grid = {
    'model__max_depth': [100,120,140,160],
    'model__min_samples_leaf': [0,1,2]
}

CV = GridSearchCV(
    model,
    param_grid,
    scoring='f1_weighted',
    n_jobs= -1,
    cv=5
)
                  
CV.fit(X_train, y_train)  
print(CV.best_params_)    
print(CV.best_score_)

{'model__max_depth': 140, 'model__min_samples_leaf': 1}
0.46938327431459487
CPU times: user 40.7 s, sys: 857 ms, total: 41.5 s
Wall time: 7min 36s

In [42]:
%%time

model = rfc

param_grid = {
    'model__max_depth': range(185,195),
    'model__min_samples_leaf': [0,1,2]
}

CV = GridSearchCV(
    model,
    param_grid,
    scoring='f1_weighted',
    n_jobs= -1,
    cv=5
)
                  
CV.fit(X_train, y_train)  
print(CV.best_params_)    
print(CV.best_score_)

{'model__max_depth': 194, 'model__min_samples_leaf': 1}
0.4706594548674582
CPU times: user 36.9 s, sys: 632 ms, total: 37.5 s
Wall time: 15min 16s

In [43]:
%%time

model = kn

param_grid = {
    'model__n_neighbors': [10,15,20,30],
    'model__leaf_size': [0,1,2],
    'model__p':[1,2]
}

CV = GridSearchCV(
    model,
    param_grid,
    scoring='f1_weighted',
    n_jobs= -1,
    cv=5
)
                  
CV.fit(X_train, y_train)  
print(CV.best_params_)    
print(CV.best_score_)

{'model__leaf_size': 0, 'model__n_neighbors': 30, 'model__p': 1}
0.46361429443353624
CPU times: user 1.49 s, sys: 436 ms, total: 1.93 s
Wall time: 8min 23s

In [44]:
df.select_dtypes(include=['int64', 'float64'])

,Year,number_of_games_last_days_home_team,number_of_games_last_days_away_team,Home_team_ATT,Home_team_MID,Home_team_DEF,Home_team_OVR,Home_team_Budget_Mill_€,Away_team_ATT,Away_team_MID,Away_team_DEF,Away_team_OVR,Away_team_Budget_Mill_€,Rivals
0,2005,2,2,59,64,53,58,0.375,80,74,74,75,5.0,0
1,2005,3,4,64,67,55,61,0.100,80,74,74,75,5.0,0
2,2005,3,4,60,60,52,59,2.000,80,74,74,75,5.0,0
3,2005,2,1,55,54,48,52,2.900,80,74,74,75,5.0,1
4,2005,4,4,72,60,56,61,0.350,80,74,74,75,5.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36457,2022,2,5,73,72,70,72,6.000,81,77,77,78,26.0,0
36458,2022,1,3,72,72,71,72,7.000,81,77,77,78,26.0,0
36459,2022,2,3,72,73,75,74,6.500,81,77,77,78,26.0,0
36460,2022,3,4,72,70,72,71,4.500,81,77,77,78,26.0,0
36461,2022,1,3,80,76,75,76,14.500,81,77,77,78,26.0,0

In [45]:
%%time

gnb = GaussianNB()

metrics = ['Accuracy','Weighted F1',
                'Weighted precision','Weighted recall'
]

d = {}

for metric in metrics:
    d[metric] = []

print(gnb)    

gnb.fit(X_train.select_dtypes(include=['int64', 'float64']), y_train)
y_pred = gnb.predict(X_test.select_dtypes(include=['int64', 'float64']))


#cm = confusion_matrix(y_test, y_pred)
#cm_df = pd.DataFrame(cm,
#                     index = ['True_1','True_x','True_2'], 
#                     columns = ['Predicted_1','Predicted_x','Predicted_2'])


d['Accuracy'].append("{:.5f}".format(
    accuracy_score(y_test, y_pred)))

d['Weighted F1'].append("{:.5f}".format(
    f1_score(y_test, y_pred, average='weighted')))

d['Weighted precision'].append("{:.5f}".format(
    precision_score(y_test, y_pred, average='weighted')))

d['Weighted recall'].append("{:.5f}".format(
    recall_score(y_test, y_pred, average='weighted')))


pd.DataFrame(d, index = ['gnb'])

GaussianNB()
CPU times: user 165 ms, sys: 11.3 ms, total: 177 ms
Wall time: 185 ms

    Accuracy Weighted F1 Weighted precision Weighted recall
gnb  0.48618     0.47517            0.46886         0.48618

In [46]:
%%time

numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_columns)])


gnb = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', GaussianNB())])


metrics = ['Accuracy','Weighted F1',
                'Weighted precision','Weighted recall'
]

d = {}

for metric in metrics:
    d[metric] = []

print(gnb)

gnb.fit(X_train_numeric_columns, y_train)
y_pred = gnb.predict(X_test_numeric_columns)


#cm = confusion_matrix(y_test, y_pred)
#cm_df = pd.DataFrame(cm,
#                     index = ['True_1','True_x','True_2'], 
#                     columns = ['Predicted_1','Predicted_x','Predicted_2'])


d['Accuracy'].append("{:.5f}".format(
    accuracy_score(y_test, y_pred)))

d['Weighted F1'].append("{:.5f}".format(
    f1_score(y_test, y_pred, average='weighted')))

d['Weighted precision'].append("{:.5f}".format(
    precision_score(y_test, y_pred, average='weighted')))

d['Weighted recall'].append("{:.5f}".format(
    recall_score(y_test, y_pred, average='weighted')))



pd.DataFrame(d, index = ['gnb'])

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  Index(['Year', 'number_of_games_last_days_home_team',
       'number_of_games_last_days_away_team', 'Home_team_ATT', 'Home_team_MID',
       'Home_team_DEF', 'Home_team_OVR', 'Home_team_Budget_Mill_€',
       'Away_team_ATT', 'Away_team_MID', 'Away_team_DEF', 'Away_team_OVR',
       'Away_team_Budget_Mill_€', 'Rivals'],
      dtype='object'))])),
                ('model', GaussianNB())])
CPU times: user 203 ms, sys: 12.7 ms, total: 215 ms
Wall time: 225 ms

    Accuracy Weighted F1 Weighted precision Weighted recall
gnb  0.48618     0.47517            0.46886         0.48618

In [47]:
%%time

numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_columns),
        ('cat', categorical_transformer, categorical_columns)])


gnb = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', GaussianNB())])


metrics = ['Accuracy','Weighted F1',
                'Weighted precision','Weighted recall'
]

d = {}

for metric in metrics:
    d[metric] = []

print(gnb)

gnb.fit(X_train, y_train)
y_pred = gnb.predict(X_test)


#cm = confusion_matrix(y_test, y_pred)
#cm_df = pd.DataFrame(cm,
#                     index = ['True_1','True_x','True_2'], 
#                     columns = ['Predicted_1','Predicted_x','Predicted_2'])


d['Accuracy'].append("{:.5f}".format(
    accuracy_score(y_test, y_pred)))

d['Weighted F1'].append("{:.5f}".format(
    f1_score(y_test, y_pred, average='weighted')))

d['Weighted precision'].append("{:.5f}".format(
    precision_score(y_test, y_pred, average='weighted')))

d['Weighted recall'].append("{:.5f}".format(
    recall_score(y_test, y_pred, average='weighted')))



pd.DataFrame(d, index = ['gnb'])

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  Index(['Year', 'number_of_games_last_days_home_team',
       'number_of_games_last_days_away_team', 'Home_team_ATT', 'Home_team_MID',
       'Home_team_DEF', 'Home_team_OVR', 'Home_team_Budget_Mill_€',
       'Away_team_ATT', 'Away_team_MID', 'Away_team_DEF', 'Away_team_OVR',
       'Away_team_Budget_Mill_€', 'Rivals'],
      dtype='object')),
                                                 ('cat',
                                                  Pipeline(steps=[('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  Index(['Country', 'Home_team', 'Away_team'], dtype='object'))])),
                ('model', GaussianNB())])

TypeError: A sparse matrix was passed, but dense data is required. Use X.toarray() to convert to a dense numpy array.

In [48]:
%%time

numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_columns)])


gnb = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', GaussianNB())])


metrics = ['Accuracy','Weighted F1',
                'Weighted precision','Weighted recall'
]

d = {}

for metric in metrics:
    d[metric] = []

print(gnb)

gnb.fit(X_train_numeric_columns, y_train)
y_pred = gnb.predict(X_test_numeric_columns)


#cm = confusion_matrix(y_test, y_pred)
#cm_df = pd.DataFrame(cm,
#                     index = ['True_1','True_x','True_2'], 
#                     columns = ['Predicted_1','Predicted_x','Predicted_2'])


d['Accuracy'].append("{:.5f}".format(
    accuracy_score(y_test, y_pred)))

d['Weighted F1'].append("{:.5f}".format(
    f1_score(y_test, y_pred, average='weighted')))

d['Weighted precision'].append("{:.5f}".format(
    precision_score(y_test, y_pred, average='weighted')))

d['Weighted recall'].append("{:.5f}".format(
    recall_score(y_test, y_pred, average='weighted')))



pd.DataFrame(d, index = ['gnb'])

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  Index(['Year', 'number_of_games_last_days_home_team',
       'number_of_games_last_days_away_team', 'Home_team_ATT', 'Home_team_MID',
       'Home_team_DEF', 'Home_team_OVR', 'Home_team_Budget_Mill_€',
       'Away_team_ATT', 'Away_team_MID', 'Away_team_DEF', 'Away_team_OVR',
       'Away_team_Budget_Mill_€', 'Rivals'],
      dtype='object'))])),
                ('model', GaussianNB())])
CPU times: user 186 ms, sys: 10.6 ms, total: 197 ms
Wall time: 203 ms

    Accuracy Weighted F1 Weighted precision Weighted recall
gnb  0.48618     0.47517            0.46886         0.48618

In [49]:
%%time

model = gnb

param_grid = {
    'model__var_smoothing': [1e-500,1e-300,1e-100,1e-20,1e-18,1e-15,1e-12,1e-10,1e-9,1e-8]
}

CV = GridSearchCV(
    model,
    param_grid,
    scoring='f1_weighted',
    n_jobs= -1,
    cv=5
)
                  
CV.fit(X_train, y_train)  
print(CV.best_params_)    
print(CV.best_score_)

{'model__var_smoothing': 0.0}
0.4880596574575997
CPU times: user 588 ms, sys: 188 ms, total: 776 ms
Wall time: 3.18 s

In [ ]:
fig, ax = plt.subplots(1, 1)
ax.plot(np.array(gs.cv_results_['param_max_depth']), gs.cv_results_['mean_test_score'])
ax.scatter(np.array(gs.cv_results_['param_max_depth']), gs.cv_results_['mean_test_score'])

In [ ]:
pd.DataFrame(gs.cv_results_)
fig, ax = plt.subplots(1, 1)
ax.plot(np.array(gs.cv_results_['param_min_samples_leaf']), gs.cv_results_['mean_test_score'])
ax.scatter(np.array(gs.cv_results_['param_min_samples_leaf']), gs.cv_results_['mean_test_score'])

In [ ]:
pd.DataFrame(gs.cv_results_)